{{#if prevPage}}
<a href="?page={{prevPage}}" class="btn btn-primary btn-large btn-block">Previous Page</a>
{{/if}}
<a href="?page={{nextPage}}" class="btn btn-primary  btn-large btn-block">Next Page</a>

{{#each images}}
  <img src="{{url}}" />
{{/each}}

{{#if prevPage}}
<a href="?page={{prevPage}}" class="btn btn-primary btn-large btn-block">Previous Page</a>
{{/if}}
<a href="?page={{nextPage}}" class="btn btn-primary  btn-large btn-block">Next Page</a>