<div class="container-fluid series index">
  <ul class="nav nav-pills">
    <li class="nav-item dropdown ">
      <a class="nav-link dropdown-toggle" active data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Jump to a Series</a>
      <div class="dropdown-menu">
        {{#each series}}
          <a class="dropdown-item" href="#{{dena.id}}">{{shortName}}</a>
        {{/each}}
      </div>
    </li>
  </ul>
  <br /><br />

  {{#each series}}
    <h5 id="{{dena.id}}">{{dena.formal_name}} Worlds</h5>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Dungeons</th>
        </tr>
      </thead>
      <tbody>
        {{#each worlds}}
          <tr>
            <td><a href="/worlds/{{_id}}">{{dena.name}}</a></td>
            <td>{{typeName}}</td>
            <td>{{dungeons.length}}</td>
          </tr>
        {{/each}}    
      </tbody>
    </table>
  {{/each}}
</div>