<div class="container-fluid">
    <div class="row">
        <div id="left-side" class="col-sm">
            <ul class="list-group">
                {{#each battles}}
                <li class="list-group-item">Battle: {{denaBattleId}}</li>

                <ul class="list-group">
                    {{#each uniqueDrops}}

                    <li class="list-group-item"><img src='{{imgUrl}}' />{{name}} - Drop Rate: {{rate}}% - {{hits}} out of {{total}} drops for this battle have been for this item</li>
                    {{/each}}

                    {{#unless itemsFound}}
                    <li class="list-group-item"><img src='https://placeholdit.imgix.net/~text?txtsize=50&txt=%3F&w=112&h=112&txttrack=0' />No drops recorded for this battle</li>
                    {{/unless}}
                </ul>
                {{/each}}
            </ul>
        </div>
    </div>
</div>