<div class="container-fluid battles index">
  {{#each battles}}
  <div class="card">
    <div class="card-block">
      {{#if imgUrl}}
        <div style="text-align: center;">
          <img class="img-fluid" src="{{imgUrl}}" onerror="this.onerror=null;this.src='https://placeholdit.imgix.net/~text?txtsize=100&txt=%3F&w=500&h=190&txttrack=0';" />
        </div>
      {{/if}}
      <h4 class="card-title">Battle: {{name}}</h4>
      <ul class="list-unstyled">
        {{#each uniqueDrops}}

        <li class="media">
          <img class="d-flex mr-3" src="{{imgUrl}}">
          <div class="media-body">
            <h5 class="mt-0 mb-1">{{name}}</h5>
            Drop Rate: {{rate}}% - {{hits}} out of {{total}} drops for this battle have been for this item
          </div>
        </li>
        {{/each}}

        {{#unless itemsFound}}
        <li class="media">
          <img class="d-flex mr-3" src="https://placeholdit.imgix.net/~text?txtsize=50&txt=%3F&w=112&h=112&txttrack=0">
          <div class="media-body">
            No drops recorded for this battle
          </div>
        </li>
        {{/unless}}
      </ul>
    </div>
  </div>
  {{/each}}
</div>