<div class="container-fluid world show">


  <h3>{{world.dena.name}} - {{world.typeName}}</h3>
  <h4>{{world.dena.id}}</h4>
  

  <img class="img-fluid" src="{{world.doorImgUrl}}" onerror="this.onerror=null;$(this).remove();" />

  <img class="img-fluid" src="{{world.bgImgUrl}}" onerror="this.onerror=null;$(this).remove();" />

  {{#if world.audioUrl}}
  <audio style="width: 100%;" controls="controls" preload="none"> 
    <source src="{{world.audioUrl}}" type="audio/mp4"> 
  </audio>
  {{/if}}

  <h5>Dungeons</h5>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Battles</th>
      </tr>
    </thead>
    <tbody>
      {{#each world.dungeons}}
        <tr>
          <td><a href="/dungeons/{{_id}}">{{dena.name}}</a></td>
          <td>{{battles.length}}</td>
        </tr>
      {{/each}}    
    </tbody>
  </table>
</div>