<div class="container-fluid users index">
  <div class="row">

    {{#each users}}
      <div class="col-12 col-sm-6 col-md-3">
        <div class="media">
          <img class="d-flex mr-3" src="{{buddy.imgUrl}}" alt="{{dena.name}}">
          <div class="media-body">
            <h5 class="mt-0">{{dena.name}}</h5>
            <ul>
              <li>{{dena.supporter_buddy_soul_strike_name}}</li>
              <li>Code: {{dena.invite_id}}</li>
              {{#if dena.mnd}}
              <li>{{dena.mnd}} MND</li>
              {{/if}}
              {{#if dena.matk}}
              <li>{{dena.matk}} MAG</li>
              {{/if}}
              {{#if dena.atk}}
              <li>{{dena.atk}} ATK</li>
              {{/if}}
            </ul>
            <blockquote class="blockquote">
              <p class="mb-0">{{dena.profile_message}}</p>
            </blockquote>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>