<div class="container-fluid">

  <div class="row">
    {{#each users}}
      <div class="col-xs" style="text-align: center;">
        <img src="{{buddy.imgUrl}}" /><br />
        <!--a href="/users/{{_id}}">{{dena.name}}</a><br /-->
        {{dena.name}}<br />
        {{dena.invite_id}}
      </div>
    {{/each}}
  </div>
</div>