<div class="container-fluid enemies index">
  <ul class="list-unstyled">
  {{#each dropRates}}
    <li class="media">
      <img class="d-flex mr-3" src="{{item.imgUrl}}" alt="{{item.dena.name}}" onerror="this.onerror=null;this.src='https://placeholdit.imgix.net/~text?txtsize=40&txt=%3F&w=112&h=112&txttrack=0';">
      <div class="media-body">
        <h6 class="mt-0 mb-1">{{item.name}}</h6>
        <ul class="list-unstyled">
          <li>Battle: <a href="/battles/{{battle._id}}">{{battle.name}}</a></li>
          <li>Dropped in {{hits}} out of {{runCount}} runs ({{successPct}}%)</li>
          <li>Avg/Run: {{roundedPerRun}}</li>
          {{#if roundedPerStamina}}
            <li>Avg/Stam: {{roundedPerStamina}}</li>
          {{/if}}
        </ul>
      </div>
    </li>
  {{/each}}
</div>